# ==========================================
# FILE CONTOH KONFIGURASI (.env.example)
# ==========================================
# Ubah nama file ini menjadi ".env" dan isi dengan data Anda.
# PASTIKAN file .env masuk ke dalam .gitignore!

# 1. Kredensial Telegram (Wajib)
BOT_TOKEN=token_bot_telegram_anda_dari_botfather
CHAT_ID_BAGINDA=id_chat_telegram_anda

# 2. Kredensial Google Sheets (Opsional - Jika ingin fitur /uang)
ID_SPREADSHEET=id_google_spreadsheet_anda

# 3. Kredensial Portal Kampus (Opsional - Jika ingin fitur /jadwal)
NIM_KAMPUS=nim_mahasiswa_anda
PASSWORD_KAMPUS=password_portal_akademik_anda